<!--<?php
// $Log: fheader.html,v $
// Revision 1.2  2002/02/06 12:36:28  mavcunha
// Added little logo
//
// Revision 1.1.1.1  2002/02/04 18:55:03  mavcunha
// First import on CVS
//
// $Name:  $
// $Author: mavcunha $
?> -->
<!-- BEGIN header -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>{PAGETITLE}</title>
  <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
  <link REL="icon" HREF="/bit/images/logo_bit16.png" TYPE="image/png">

<!-- style -->
<link rel="stylesheet" type="text/css" href="{STYLE}" >

<!--<style type="text/css">
@import url({STYLE});
</style>
-->
</head>
<body>
	
<!--<div class="logo">-->
	<img src="/bit/images/logo_bit.png" alt="Logo" align="bottom" >
<!--</div> -->
	<span id="mainbanner" >{LAB_TITLE}</span>
</body>
</html>
<!-- END header -->
