<!--<?php
// $Log: little_box.html,v $
// Revision 1.9  2003/09/17 20:39:27  mavcunha
// Backing up the stuff....
//
// Revision 1.8  2003/02/28 12:57:01  mavcunha
// Backup propose.
//
// Revision 1.7  2002/09/11 21:16:06  mavcunha
// Added H2G
//
// Revision 1.6  2002/08/06 02:18:07  mavcunha
// Added Jamborestes link
//
// Revision 1.5  2002/07/09 21:03:38  mavcunha
// Added papers db
//
// Revision 1.4  2002/06/03 17:11:00  mavcunha
// Backup
//
// Revision 1.3  2002/02/20 13:57:55  mavcunha
// Update some styles, links and logos
//
// Revision 1.2  2002/02/04 22:29:44  mavcunha
// Added staff page and index.php on tools. Add more ilinks too.
//
// Revision 1.1.1.1  2002/02/04 18:55:03  mavcunha
// First import on CVS
//
// $Name:  $
// $Author: mavcunha $
?> -->
<!-- inicio da pequena caixinha de horrores --> 
<td width="120" valign="top" >
      <div class="littleboxtitle" >Fast Links
      <p class="littlebox">

      <a href="/eg/" class="littleboxlink">Workshop</a>:<br><font color='#ff0000'><b>Express&atilde;o G&ecirc;nica em C&acirc;ncer</b></font>
      <br><br>
      {lb_onsa} -  ONSA Projects.
      <br><br>
<a href="/bioinfo/" class="littleboxlink">Bioinform&aacute;tica Online</a> - Bioinform&aacute;tica Online.
      <br><br>
      <a href="/papers/" class="littleboxlink">Papers Database</a> - Papers Database.
      <br><br>
      <a href='/jamborestes/' class='littleboxlink'>Jamborestes</a> - Jamborestes.
      <br><br>
      <a href='/amgm/index.php' class='littleboxlink'>Disciplina RGM5861</a> - <br>Aplica&ccedil;&otilde;es M&eacute;dicas da Gen&eacute;tica Molecular
	  <br><br>
	  <a href='/cbab/' class='littleboxlink'>Curso CBAB</a> - Introdução à Biologia Computacional.</a>
      <br><br>
      <!-- não mude a partir daqui -->
      </p></div>
</td>
<!-- fim da pequena caixa de horrores -->
